body.error404 {
  background-color: $main-color;
  color: $white;

  main {
    h1 {
      margin-top: rem(78);
      margin-bottom: rem(48);
    }
  
    p {
      font-size: 26px;
      font-weight: 400;
      margin-bottom: rem(48);
    }
  }
}