body.error404 {
  background-color: $main-color;
  color: $white;

  main {
    padding: 0 rem(160);
    h1 {
      font-weight: 600;
      font-size: 84px;
      margin-top: rem(78);
      margin-bottom: rem(48);
    }
  
    p {
      font-size: 26px;
      font-weight: 400;
      margin-bottom: rem(48);
    }
  }
}