@function rem($val) {
  @return $val / 16 * 1rem;
}

$text-color: #050A3A;
$main-color: #050A3A;
$white: #ffffff;
$grey: #8A8A8A;
$lightgrey: #AAA;
$black: #000;

html {
	--text-color: #{$text-color};
	--text-color--secondary: #{$white};
	--main-color: #{$main-color};
	--grey: #{$grey};
	--light-grey: #{$lightgrey};
	--bg-color: #{$white};
}

body {
	font-family: $font1;
  background-color: var(--bg-color);
  color: var(--text-color);

  &.dark {
    --text-color: #{$white};
    --bg-color: #{$black};
  }

  main {
    padding: 0 rem(160);

    h1 {
      font-weight: 600;
      font-size: 84px;
    }
  }
}

.underlined-gradiant {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, #FFD0A8 0%, #FF4FC0 100%);
  }
}