.page-template-contacts {
  .team {
    display: flex;
    justify-content: flex-end;
    gap: rem(100);
    margin-top: 132px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .location, .team-member {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: rem(16);

      @media screen and (max-width: 768px) {
        align-items: center;
      }

      .title {
        font-size: 20px;
        margin-bottom: 16px;
        font-weight: 700;
      }

      .info {
        margin-bottom: 0;
        font-weight: 400;
      }
    }
  }
  
  .form {
    h2 {
      margin-bottom: 16px;
    }

    form {
      input, textarea {
        background: red;
        all: unset;
      }
    }
  }
}